.container {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    color: rgb(223, 205, 190);
    background-color: rgb(169, 126, 96);
    align-items: center;
    padding: 50px;
    flex-direction: row;
}

.header-logo {
    display: flex;
    height: 60px;
    width: 50px;
    margin-right: auto;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    margin-left: auto;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(223, 205, 190);
    background-color: rgb(169, 126, 96);
    padding: 70px;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.main-image {
    display: flex;
    height: 280px;
    width: 380px;
}

.main button {
    border: none;
    background:rgb(84, 108, 141);
    color:rgb(223, 205, 190);
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-images {
    display: flex;
    flex-direction: row;
}

